.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

error_log
wp-admin/error_log
wp-content/plugins/dynamic-image-resize/library/cache/
wp-content/plugins/dynamic-image-resize/library/error_log
wp-content/plugins/nextgen-gallery/admin/templates/
wp-content/themes/twentyeleven/error_log
wp-content/themes/twentyten/error_log
wp-content/themes/twentytwelve/
wp-includes/SimplePie/
wp-includes/error_log
wp-includes/js/tinymce/plugins/wpview/
wp-includes/theme-compat/error_log

readme.html
license.txt
sass_stdlib.xml
workspace.xml